table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 90%;
    font-size: 1.2em;
}
th, td {
    border: 1px solid gray;
    padding: 10px;
}
th {
    background-color: green;
    color: white;
}
tr:nth-child(even) td {
    background-color: lightgray;
}
.center-text {
    text-align: center;
}
